21 PRINT "HELLO WORLD."
42 REM: #maeby
84 GOTO 21
READY.
RUN
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
HELLO WORLD.
^C
